body{
    margin: 0;
    padding: 0;
}
.quizContainer {
  width: 70vw;
  height: 80vh;
  margin: 5vh auto;
  background-color: white;
  display: flex;
  box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.75);
-webkit-box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.75);

}
.Quiz {
  width: 70%;
  margin: 0 auto;

}
.previousButton,
.submitButton {
  width: 15%;
  position: relative;
  left: 0px;
}
button {
  width: 80%;
  height: 6%;
  position: relative;
  
  top: 93%;
  background-color:rgb(101, 101, 243) ;
  border: none;
  border-radius: 25px;
  font-size: 15px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}
button:hover{
      background-color:rgb(71, 71, 196) ;

}
.bottonContainer {
  position: relative;
  bottom: 10px;
}
.optionsForm{
    width: 100%;
    justify-content: center;
}
.optionsGroup{
    margin: 30px auto;
    width: 100%;

}
.option{
    /* height: 8vh; */
    margin-left: 60px;
    display: flex;
    column-gap: 30px;
    padding: 20px;
    font-size: 50px;
    word-break: break-all
} 
.option:hover{
  background-color:rgb(195, 195, 197) ;
}